@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  background: url(https://unsplash.com/photos/a-pink-and-yellow-background-with-a-white-border-MzfOPW5Tb3M);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.bgoverlay {
  background: rgba(223, 90, 168, 0.64);
  background: rgba(218, 84, 122, 0.53);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  margin-top: 250px;
}

.ico {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-left: -300px;
  margin-top: 250px;
}
.open .ico {
  animation: open 6s;
  transform: scale(3);
}
.ico .title {
  position: relative;
  top: 190px;
  left: 350px;
  transform: translate(-50%, -50%);
  z-index: 300;
  font-size: 60px;
  font-family: "Pacifico", cursive;
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.open .ico .title {
  opacity: 0;
  transition: all 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
  position: absolute;
  top: 0;
  left: 0;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
  display: block;
  font-size: 50em;
  color: #ff4081;
  content: "\2665";
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico2:before,
.ico2:after {
  color: #e91e63;
  content: "\2665";
}
.ico:before {
  z-index: 5;
}
.ico:after {
  animation: explode 4s infinite;
}

.ico2:before {
  animation: explodeSmall 3s infinite;
}
.ico2:after {
  animation: explodeSmall 2s infinite;
}

.endtext {
  opacity: 0;
  position: relative;
  top: -100px;
  width: 100%;
}
.open .endtext {
  top: 0;
  opacity: 1;
  animation: show 5s;
  top: 190px;
  left: 80px;
}
.endtext .close {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
.endtext h1,
.endtext h2,
.endtext h3 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: normal;
  margin-top: 100px;
}
.endtext h1 {
  font-size: 100px;
}
.endtext h2 {
  font-size: 100px;
}
.endtext h3 {
  font-size: 100px;
}

@keyframes explode {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}
@keyframes explodeSmall {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes open {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3.5);
  }
}

@keyframes show {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: -50px;
  }
}

@media only screen and (max-width: 600px) {
    .ico .title {
      font-size: 6vw; /* Adjusted font size for smaller screens */
    }
  
    .endtext .close {
      text-shadow: 0.4vw 0.8vw 0.6vw rgba(0, 0, 0, 0.3); /* Adjusted text-shadow for smaller screens */
    }
  }